<div class="row">
  <div class="small-12 columns text-center">
    <h1 class="docs header"><a href="/">Open Assets Manager</a></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert-box #{name}" %>
  <% end -%>
  </div>
</div>

<%= form_tag '/assign', :class => 'panel' do %>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Employee ID</label>
      </div>
      <div class="small-9 columns">
        <%= text_field_tag :employee_id, params[:employee_id], :placeholder => 'Employee ID' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Asset Barcode</label>
      </div>
      <div class="small-9 columns">
        <%= text_field_tag :asset_bar_code, params[:asset_bar_code], :placeholder => 'Scan Asset Barcode' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Assign to Project (Optional)</label>
      </div>
      <div class="small-9 columns">
        <%= select_tag 'project_id', options_from_collection_for_select(@projects, :id, :name), :include_blank => true %>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Take For Yourself">
      </div>
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Return">
      </div>
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Take For Project">
      </div>
    </div>
<% end %>