<% content_for :header do %>
    <h1 class="docs header"><a href="/">Accessory Dashboard</a></h1>
<% end %>


<%= form_tag search_accessories_path, :class => 'panel' do %>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Barcode</label>
      </div>
      <div class="small-9 columns">
        <%= text_field_tag :id, params[:id], :placeholder => 'Scan Barcode' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <input type="submit" name="submit" class="button" value="Lookup">
      </div>
    </div>
<% end %>

<% if @asset %>
  <ul class="pricing-table">
    <li class="title"><%= @asset.id %></li>
    <li class="price"><%= @asset.asset_type.name %></li>
    <li class="bullet-item"><%= @asset.bar_code %></li>
    <% if @asset.owner %>
      <li class="bullet-item"><%= @asset.owner.name %></li>
    <% end %>
  </ul>
<% end %>
