<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TW Asset Manager" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <% if content_for?(:header) %>
    <div class="row">
      <div class="small-12 columns text-center">
        <%= yield(:header) %>
      </div>
    </div>
  <% end %>

    <div class="row">
      <div class="small-12 columns text-center">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert-box #{name}" %>
        <% end -%>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
